<hgroup class="signed-in animation-headerslidedown">
	<a class="icon" href=""><%= mysuperheropalicon %></a>
	<form action="api/search" method="get">
		<input class="search" name="query" placeholder="Search for foods and exercises">
	</form>
	<nav class="navigation group">
		<figure class="nav-avatar-container">
			<img class="nav-avatar" src="<%= user.escape("avatar")%>">
		</figure>
		<div class="nav-triangle"></div>
		<div class="menu-cover"></div>
		<ul class="navigation-items">
			<div class="navigation-items-container">
				<li class="n1">
					<a href="#diary_entries" class="diary_entries">My Diary</a>
				</li>
				<li class="n2">
					<a href="#foods" class="foods">Foods</a>
				</li>
				<li class="n3">
					<a href="#exercises" class="exercises">Exercises</a>
				</li>
				<li class="n4">
					<a href="#logout" class="logout">Logout</a>
				</li>
			</div>
		</ul>
	</nav>
</hgroup>
