<a href=""><%= mysuperheropalicon %><a>
<form action="api/search" method="get">
	<input class="search" name="query" placeholder="Search for foods and exercises">
</form>
<a href="#logout" class="logout">Logout</a>
