<hgroup class="signed-in animation-headerslidedown">
	<a class="icon" href=""><%= mysuperheropalicon %></a>
	<form action="api/search" method="get">
		<input class="search" name="query" placeholder="Search for foods and exercises">
	</form>
	<nav class="group">
		<a href="#diary_entries" class="diary">My Diary</a>
		<a href="#foods" class="foods">Foods</a>
		<a href="#exercises" class="exercises">Exercises</a>
		<a href="#logout" class="logout">Logout</a>
	</nav>
</hgroup>
