<main>

</main>

<script type="text/javascript">
  mysuperheropallogo = '<%= image_tag "logo.png" %>';
</script>

<script type="text/javascript">
  mysuperheropalicon = '<%= image_tag "icon.png" %>';
</script>
