<button class="sign-up">Sign up</button>

<section class="container">
  <%= image_tag "logo.png" %>
  <form class="login" action="" method="post">

    <label></label>
      <input type="text" name="user[email]" value="" placeholder="Email">

    <label></label>
      <input type="text" name="user[password]" value="" placeholder="Password">

    <button>Login</button>
  </form>
</section>
