<section class="container animation-fadein">
  <%= mysuperheropallogo %>
  <form class="signup" action="" method="post">

    <label></label>
      <input type="text" name="user[email]" value="" placeholder="Email">

    <label></label>
      <input type="text" name="user[superhero_name]" value="" placeholder="Superhero name">

    <label></label>
      <input type="password" name="user[password]" value="" placeholder="Password">

    <button>Sign up!</button>
  </form>
</section>
