<div class="new-model-container animation-revealpane">
	<form class="new-model pane large animation-growpane">
		<div class="fieldset portrait group">
			<input type="text" name="diary_entry[title]" placeholder="Title">
			<div class="textarea-container">
				<textarea name="diary_entry[body]" placeholder="Body"></textarea>
			</div>
			<button>Add entry!</button>
		</div>
	</form>
<div>
