<section class="collection container">
	<hgroup class="header group">
		<h2 class="container-title">
			Diary Entries
		</h2>
		<button class="new-model">
			<p>
				<% if (newModel) { %>
					-
				<% } else { %>
					+
				<% } %>
			</p>
		</button>
	</hgroup>
	<ul>
		<li class="new-model">
		</li>
		<li>
			<ul class="collection-list">
			</ul>
		<li>
	</ul>
</section>
