<li class="pane large animation-growpane">
	<hgroup class="diary-entry-title">
		<strong class="title"><%= model.escape("title") %> </strong>
	</hgroup>
	<section class="diary-entry">
    <article class="diary-entry-body">
      <%= model.escape("body") %>
    </article>
  </section>
</li>
