<section class="dashboard-widget">
  <hgroup class="header">
    <h2>
      Your Daily Summary
    </h2>
  </hgroup>

  <section class="content">
		<figure class="profile-picture">
			<img src="<%= user.escape("avatar")%>">
			<form class="profile-picture">
				<label class="upload">Change profile picture</label>
				<input type="file" class="upload">
				<button class="upload"></button>
			</form>
		</figure>
    <h3>
      <strong class="rad-count">2500</strong> mrem remaining
    </h3>
  </section>
</section>
