<section class="dashboard-widget">
  <hgroup>
    <h2>
      Your Daily Summary
    </h2>
  </hgroup>

  <section class="content">
    <figure></figure>
    <h3>
      <strong class="rad-count">2500</strong> mrem remaining
    </h3>
  </section>
</section>
