<li class="exercise-item">
	<hgroup>
		<strong class="name"><%= model.escape("name") %> </strong>
		<strong class="calories-burned"><%= model.escape("calories_burned") %> calories</strong>
	</hgroup>
</li>	
