<section class="exercises container">
	<hgroup class="header group">
		<h2 class="container-title">
			Exercise
		</h2>
		<button class="new-exercise">
			<p>
				<% if (newModel) { %>
					-
				<% } else { %>
					+
				<% } %>
			</p>
		</button>
	</hgroup>
	<ul class="exercises-list">
	</ul>
</section>

