<li class="pane large animation-growpane">
	<hgroup>
		<strong class="name"><%= model.escape("name") %> </strong>
		<strong class="calories-burned"><%= model.escape("calories_burned") %> mrem</strong>
	</hgroup>
	<h1>
		more details here!
	</h1>
</li>
