<section class="container animation-fadein">
  <%= mysuperheropallogo %>
  <form class="login">

    <label></label>
      <input class="email" type="text" name="user[email]" value="" placeholder="Email">

    <label></label>
      <input class="password" type="password" name="user[password]" value="" placeholder="Password">

		<button>Login</button>
	</form>
	<button class="demo-user" data-email="thehulk@gmail.com" data-password="123456">Login as The Hulk!</button>
</section>
