/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, body, p, li, ul {
  padding: 0;
  margin: 0;
}

ul {
	list-style: none;
}

body {
  font-family: 'Molengo', sans-serif;
  background-color: rgb(51,25,115);
  color: white;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}

section.container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

section.container img{
  margin-bottom: 20px;
}

section.off-stage {
  left: 150%;
}

.login input:first-of-type,
.signup input:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.login input:last-of-type,
.signup input:last-of-type {
  border-bottom: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

input {
  display: block;
  height: 25px;
  width: 300px;
  margin: auto;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}

input:focus, button:focus {
  outline: 0;
}

form button, button.demo-user, button.new-food, button.new-exercise {
  background-color: hsla(12, 4%, 97%, .5);
  font-size: 16px;
  border: none;
  color: #dfdfdf;
  padding: 5px 10px;
  margin: auto;
  margin-top: 20px;
  display: block;
  border-radius: 2px;
}

.foods .header, .exercises .header {
	position: relative;
	min-width: 740px;
}

form.new-food, form.new-exercise {
	position: absolute;
	left: 102%;
	top: 0;
	padding: 20px;
	border-radius: 2px;
	background-color: hsla(12, 4%, 97%, .5);
}

form.new-food:before, form.new-exercise:before {
	content: "";
	position: absolute;
	top: 7px;
	left: -14px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8.5px 14.7px 8.5px 0;
	border-color: transparent hsla(12, 4%, 97%, .5) transparent transparent;
}

form.new-food input, form.new-exercise input {
	width: 200px;
	height: 16px;
	margin-bottom: 15px;
}

form.new-food input:last-child, form.new-exercise input:last-child {
	margin-bottom: 0;
}

.container-title {
	float: left;
	font-weight: bold;
	font-size: 1.5em;
}

button.new-food, button.new-exercise {
	float: right;
	margin-top: 0;
}

a.sign-up, a.login, a.logout, a.foods, a.exercises {
  float: left;
  background: transparent;
  font-size: 16px;
  color: #dfdfdf;
  padding: 5px 10px;
  margin: auto;
  display: block;
  margin-left: 20px;

}

a.sign-up, a.login, a.logout {
  text-decoration: none;
  border: 2px solid white;
  border-radius: 2px;
}

.dashboard-widget, .news-feed, .food-item, .exercise-item {
	display: block;
  position: relative;
  margin: 20px;
  min-height: 200px;
  width: 700px;
  background: white;
  box-shadow: 0px 0px 20px 1px #000000;
  z-index: 1;
	text-decoration: none;
}

.hvr-grow {
  -webkit-transform: translate3d(0, 0, 0);
	-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.dashboard-widget hgroup, .news-feed hgroup {
  height: 13%;
  background-color: rgb(78,51,143);
  border-bottom: 2px solid rgb(51,25,115);
}

.food-item hgroup, .exercise-item hgroup {
	padding: 15px;
	padding-left: 20px;
}

.food-item hgroup .name, .exercise-item hgroup {
	font-size: 36px;
	color: black;
}

hgroup h2 {
  padding-top: 2px;
  padding-left: 5px;
  font-size: 16px;
}

.content figure {
  float: left;
  height: 100px;
  width: 100px;
  margin: 20px;
  background: grey;
}

.content h3 {
  margin: 0;
  margin-top: 10px;
  color: grey;
  float: left;
  font-weight: bold;
  font-size: 16px;
}

.content strong, .radiation {
  font-size: 36px;
  color: green;
}

header {
	position: fixed;
	height: 70px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

header .signed-in {
  position: fixed;
  left: 0;
	right: 0;
	border-bottom: 1px solid rgb(78,51,143);
	height: 70px;
	background-color: rgb(51,25,115);
}

header .icon img{
	position: absolute;
	left: 7px;
	top: 7px;
	height: 45px;
}

header .search {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 700px;
	border-radius: 3px;
	border: 1px solid grey;
	padding: 3px;
}

header nav{
  position: absolute;
  right: 20px;
  top: 50%;
	transform: translateY(-50%);
}

/* animation container */

.animation-headerslidedown{
  -webkit-transform: translate3d(0, 0, 0);
  animation: headerslidedown 1s;
  -webkit-animation: headerslidedown 1s;
}

.animation-fadein {
	-webkit-transform: translate3d(0, 0, 0);
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

.animation-slideleftout {
	-webkit-transform: translate3d(0, 0, 0);
  animation: slideleftout 2s;
  -webkit-animation: slideleftout 2s;
}

.animation-slideleftin {
	transform-origin: 0 0;
	-webkit-transform: translate3d(0, 0, 0);
  animation: slideleftin 2s;
  -webkit-animation: slideleftin 2s;
}

.animation-growfromtopleft {
	transform-origin: 0 0;
	-webkit-transform: translate3d(0, 0, 0);
  animation: growfromtopleft 250ms;
  -webkit-animation: growfromtopleft 250ms;
}

.animation-shrinkfrombottomright {
	transform-origin: 0 0;
	-webkit-transform: translate3d(0, 0, 0);
  animation: shrinkfrombottomright 250ms;
  -webkit-animation: shrinkfrombottomright 250ms;
}

/*animations*/

@keyframes fadein{
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 15%;
    opacity: 1;
  }
}

@-webkit-keyframes fadein{
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 15%;
    opacity: 1;
  }
}

@keyframes slideleftin{
  100% { left: 50%; }
}

@-webkit-keyframes slideleftin{
  100% { left: 50%; }
}

@keyframes slideleftout{
  100% { left: -100%; }
}

@-webkit-keyframes slideleftout{
  100% { left: -100%; }
}

@keyframes headerslidedown{
  from {
    top: -70px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes headerslidedown{
  from {
    top: -70px;
  }
  to {
    top: 0px;
  }
}

@keyframes growfromtopleft {
	from {
		transform: scale(0);
	}
}

@-webkit-keyframes growfromtopleft {
	from {
		transform: scale(0);
	}
}

@keyframes shrinkfrombottomright {
	to {
		transform: scale(0);
	}
}

@-webkit-keyframes shrinkfrombottomright {
	to {
		transform: scale(0);
	}
}
