/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, body, p, li, ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Molengo', sans-serif;
  background-color: rgb(51,25,115);
}

section.container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

@keyframes fadein{
  from {
    top: 35%;
    opacity: 0;
  }
  to {
    top: 30%;
    opacity: 1;
  }
}

@-webkit-keyframes fadein{
  from {
    top: 35%;
    opacity: 0;
  }
  to {
    top: 30%;
    opacity: 1;
  }
}

section.container img{
  margin-bottom: 20px;
}

.login input:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.login input:last-of-type {
  border-bottom: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

input {
  display: block;
  height: 25px;
  width: 300px;
  margin: auto;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}

input:focus, button:focus {
  outline: 0;
}

form button {
  background-color: hsla(12, 4%, 97%, .5);
  font-size: 16px;
  border: none;
  color: #dfdfdf;
  padding: 5px 10px;
  margin: auto;
  margin-top: 20px;
  display: block;
  border-radius: 2px;
}

button.sign-up {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  font-size: 16px;
  border: 2px solid white;
  color: #dfdfdf;
  padding: 5px 10px;
  margin: auto;
  display: block;
  border-radius: 2px;
}
