<a href="#logout" class="logout">Logout</a>
<section class="container animation-fadein">
  <h1>
    Welcome back <%= Mysuperheropal.Models.currentUser.escape("superhero_name") %>!
  </h1>
  <section class="user-views">

  </section>
</section>
