<li>
	<a href="#" class="food-item hvr-grow">
		<hgroup>
			<strong class="name"><%= model.escape("name") %> </strong>
			<strong class="radiation"><%= model.escape("radiation") %> mrem</strong>
		</hgroup>
		<figure>
		<img src="<%= model.escape("image") %>">
		</figure>
	</a>
</li>	
