<li>
	<a href="#" class="food-item hvr-grow">
		<figure class="model-image">
			<img src="<%= model.escape("image_url") %>">
		</figure>
		<hgroup class="model-header">
			<strong class="name"><%= model.escape("name") %> </strong>
			<strong class="radiation"><%= model.escape("radiation") %> mrem</strong>
		</hgroup>
	</a>
</li>
