<form class="new-food animation-growfromtopleft">
	<input type="text" name="food[name]" placeholder="Name">
	<input type="text" name="food[calories]" placeholder="Calories">
	<input type="text" name="food[radiation]" placeholder="Radiation">
	<input type="text" name="food[unit]" placeholder="Unit">
	<input type="text" name="food[amount]" placeholder="Amount">
	<button></button>
</form>
