<section class="foods container">
	<hgroup class="group">
		<h2 class="container-title">
			Foods
		</h2>
		<button class="new-food">Add new food</button>
	</hgroup>
	<ul class="foods-list">
	</ul>
</section>
