<section class="foods container">
	<hgroup class="header group">
		<h2 class="container-title">
			Foods
		</h2>
		<button class="new-food">
			<% if (newModel) { %>
				Cancel
			<% } else { %>
				Add new food
			<% } %>
			<aside class="new-food">
			</aside>
		</button>
	</hgroup>
	<ul class="foods-list">
	</ul>
</section>
