<li class="pane large animation-growpane">
	<hgroup>
		<strong class="name"><%= model.escape("name") %> </strong>
		<strong class="radiation"><%= model.escape("radiation") %> mrem</strong>
	</hgroup>
	<h1>
		more details here!
	</h1>
</li>	

